* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body{
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    background-color: black;
}

h1{
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Solitreo', cursive;
}

header{
    display: flex;
    background-color: black;
    justify-content: right;
    padding-right: 20px;
}


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: white;
}

.icon-cart:hover{
    cursor: pointer;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: white;
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    align-items: center;
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;

}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

/* MAIN */

.container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    width: 370px;
}

.item:hover{
    box-shadow: 10px 10px 10px 10px rgba(252, 251, 251, 0.2);
}

.item img{
    width: auto;
    height: 350px;
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 10px 20px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3{
    font-weight:900;
    font-size: 25px;
    color: rgb(63, 60, 60);
}

.price{
    font-size: 18px;
    font-weight: 700;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 14px;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

.tragos{
    padding-top: 50px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
  }

  thead {
    background-color: #121212;
    font-weight: bold;
    text-align: center;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  th {
    text-align: center;
    padding: 10px;
  }

  tbody {
    background-color: #121211;
    line-height: 2;
  }
  
footer{
    padding-top: 10px;
    color: white;
}
